<h1> Sensor <%= @sensor.udoo_id %> - <%= @sensor.type %> - <%= @sensor.id.to_s %> </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Measure</th>
    </tr>
  </thead>
  <tbody>
    <% @sensor.datums.order(created_at: :desc).limit(20).each do |datum| %>
    <tr>
      <th scope="row"><%= datum.id.to_s %></th>
      <td><%= datum.created_at %></td>
      <td><%= datum.measure %></td>
    </tr>
    <% end %>
  </tbody>
</table>